* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 1rem 4rem;
  margin: 0 auto;
  max-width: 768px;
  background-color: #E5E5E5;
  min-height: 100vh;
  box-shadow: 0 0 40px rgba(229, 229, 229, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
