html {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E5E5E5;
  /*overflow: hidden;*/
}

.main {
  /*padding: 1rem 4rem 3rem;*/
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  background-color: #E5E5E5;
  position: relative;
  /*height: 100vh;*/
}

.carousel .control-arrow.control-prev, .carousel .control-arrow.control-next {
  opacity: 1;
}

.carousel .control-arrow.control-prev:hover {
  opacity: 1;
}

.carousel.carousel-slider .control-prev.control-arrow:before {
  border-right: 20px solid #951B81;
}

.carousel.carousel-slider .control-prev.control-arrow:hover:before {
  border-right: 20px solid #CD1719;
}

.carousel.carousel-slider .control-next.control-arrow:before {
  border-left: 20px solid #951B81;
}

.carousel.carousel-slider .control-next.control-arrow:hover:before {
  border-left: 20px solid #CD1719;
}

.carousel.carousel-slider .control-next.control-arrow:hover, .carousel.carousel-slider .control-prev.control-arrow:hover {
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
